/*CSS settings for dashboard*/
/*Qiao*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
body {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  height: 100%;
  max-height: 100%;
}

.errorText {
  color: red;
}

.singleform {
  height: 100%;
  overflow: auto;
  background-color: #D4D9DA;
  color: #5F676A;
}

.singleform h2 {
  font-size: 3em;
  text-align: center;
  margin-top: 2%;
}

.right-float {
  float: right;
}

.selected {
  color: #87568D;
}

.ui.dropdown .menu {
  margin-left: 9em;
  margin-top: -1.5em;
}

#categories {
  background-color: #353E43;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  height: 100%;
  color: #94999d;
}

#categories div.list {
  margin-left: 30px;
  font-family: 'Raleway', sans-serif;
}

#categories .item {
  padding-bottom: 30px !important;

}

#links-container .ui.inline.dropdown .menu { /* profile dropdown*/
  margin-top: 0.81428571em;
  margin-left: 3.61428571em;
}

#links-container .ui.relaxed.divided.selection.list { /* Annoucement Section Layout*/
  margin-top: 4%;
  margin-left: 2%;
  margin-right: 2%;
  
}


#cat-header {
  background-color: #4A5557;
  height: 60px;
  position: relative;
}

#cat-header h2 {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 200;
  font-size: 1.5em;
  text-transform: uppercase;
  color: rgb(193, 193, 193);
  position: absolute;
  bottom: 10px;
  left: 15px;
}

#categories h2 .bookmark.icon,
#categories h2 .add.icon {
  color: #87568D;
}

.clickable {
  opacity: 1;
  -webkit-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
}



#categories button {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.container {
  
  margin-top: 35%;
}

i.remove.icon {
  opacity: 0;
  -webkit-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
}

div.content:hover i.remove.icon {
  opacity: 1;
}

.item {
  color: #94999d;
}

#links-container {
  position: fixed;
  top: 0;
  left: 15%;
  right: 0;
  bottom: 0;
  overflow: auto;
  background-color: #D4D9DA;
  color: #5F676A;
}

#links-container .list {
  margin-top: 0px;
}

#toolbar {
  background-color: #D4D9DA;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C2C7CA;
  height: 60px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

#links-container .list .item {
  padding: 15px;
}

.ui.form .submitbutton {
  float: right;
  clear: both;
  background-color: #a50303 !important;
  color: #fff2f2 !important;
  margin-top: 1em;
}

#costList {
  margin-top: 1em;
  color: black;
}

.item .description {
  margin-top: 5px;
}

i.remove.icon {
  opacity: 0;
  -webkit-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
}

div.content:hover i.remove.icon {
  opacity: 0.5;
}
