#welcome-triangle
{
	float: right;
	width: 0;
	height: 0;
	margin-top: 150px;
	border-bottom: 350px solid rgba(221,0,0,0.8);
	border-left: 700px solid transparent;
}

#welcome-index
{
	width: 100%;
	height: 500px;
}

img#indexBack
{
	position: absolute;
    left: 0px;
    top: 244px;
    z-index: -1;
    width: 100%;
}

#welcome-text
{	
	position: absolute;
    left: 1030px;
    top: 560px;
    text-align: right;
	line-height: 180%;
	font-size: 30px;
	font-weight: bold;
}
