#login-box{
	margin-top: 10px;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	border: medium solid;
	padding-bottom: 10px;
	margin-bottom: 100px;
	border-radius: 10px;
}
#login-header{
	margin: 0 5px 25px 5px;
	padding: 10px 0 5px 10px;
	font-size: 30px;
	border-bottom: thin black solid;
}
#login-centered{
	padding-top: 100px;
	padding-bottom: 50px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}
form{
	margin-left: 20px;
}
input{
	display: inline;
	font-size: 15px;
	width: 20em;
	background-color: #fff2f2;
	border: solid #a50303;
	border-radius: 2px;
}
label{
	width: 150px;
	margin: 0;
	float: left;
	text-align: left;
	font-size: 20px;
}
.login-value{
	margin: 0.5em 0 1em 0;
	height: 25px;
}
#login-login{
	display: inline-block;
	padding: 5px 20px 5px 20px;
	font-size: 1.2em;
	max-width: 100px;
	margin-top: 0.3em;
	margin-bottom: 0.7em;
	margin-left: 350px;
	background-color: #a50303;
	color: #fff2f2;
	border: none;
	border-radius: 5px;
}
#login-login:hover{
	cursor: pointer;
}

.login-registerNow{
	display: inline;
	padding: 0 10px 0 10px;
	font-size: 1em;
	background-color: #a50303;
	color: #fff2f2;
}
.login-registerNow:hover{
	cursor: pointer;
}
p.login-registerNowText{
	margin: 0 20px 0 0;
	padding: 0;
	display:inline-block;
	font-size: 15px;
	width: 335px;
	text-align: right;
}