#register-box{
	margin-top: 10px;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	border: medium solid;
	padding-bottom: 10px;
	margin-bottom: 100px;
	border-radius: 10px;
}
#register-header{
	margin: 0 5px 25px 5px;
	padding: 10px 0 5px 10px;
	font-size: 30px;
	border-bottom: thin black solid;
}
#register-centered{
	padding-top: 100px;
	padding-bottom: 50px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}
form{
	margin-left: 20px;
}
input{
	display: inline;
	font-size: 15px;
	width: 19em;
	background-color: #fff2f2;
	border: solid #a50303;
	border-radius: 2px;
	padding-left: 10px;
}
label{
	width: 250px;
	margin: 0;
	float: left;
	text-align: left;
	font-size: 20px;
}
select{
	display: inline;
	font-size: 15px;
	width: 5em;
	background-color: #fff2f2;
	border: solid #a50303;
	border-radius: 2px;
}
.register-value{
	margin: 0 0 1em 0;
	height: 25px;
	float: left;
	width: 300px;
}
#register-register{
	display: inline-block;
	padding: 8px 20px 8px 20px;
	font-size: 1.3em;
	max-width: 180px;
	margin-top: 0.3em;
	margin-bottom: 0.7em;
	margin-left: 370px;
	background-color: #a50303;
	color: #fff2f2;
	border: none;
	border-radius: 5px;
}
#register-register:hover{
	cursor: pointer;
}

.register-loginNow{
	display: inline;
	padding: 0 10px 0 10px;
	font-size: 1em;
	background-color: #a50303;
	color: #fff2f2;
}
.register-loginNow:hover{
	cursor: pointer;
}
p.register-loginNowText{
	margin: 0 30px 0 0;
	padding: 0;
	display:inline-block;
	font-size: 15px;
	width: 420px;
	text-align: right;
}